.vedios{
    min-height: calc(100vh - 60px);
    flex: 80%;
    background-color: #f9f9f9;
    height: 100%;
    padding: 3rem 0 0 0;
}

.vedios > h2{
    margin: 0 0.5rem 2rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.vedios__vedios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}